<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - IdentityMVCWebApp</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <div class="navbar-container">
                <div class="homelink">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">IdentityMVCWebApp</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>               
                <div class="navbarLinks">
                    <div class="navbar-page-Link">
                        <ul class="navbar-ul">
                            <li class="navlist-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                    <div class="navuserLink">
                        <ul class="navbar-ul">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="navlist-item">
                                    @User.Identity?.Name
                                </li>
                                <li class="navlist-item">
                                    <a asp-controller="UserAccess" asp-action="LogOut">LogOut</a>
                                </li>
                            }
                            else
                            {
                                <li class="navlist-item">
                                    <a asp-controller="UserAccess" asp-action="Register">Register</a>
                                </li>
                                <li class="navlist-item">
                                    <a asp-controller="UserAccess" asp-action="LogIn">LogIn</a>
                                </li>
                            }
                        </ul>
                    </div>                 
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - IdentityMVCWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
